extends base

block content 
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Sign Up to Natours
            form.form.form--signup
                .form__group
                    label.form__label(for='name') Full Name
                    input#name.form__input(type='text', placeholder='Your full name', required)
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    .password-input-container
                        input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        span.password-toggle Show
                .form__group.ma-bt-md
                    label.form__label(for='passwordConfirm') Confirm Password
                    .password-input-container
                        input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        span.password-toggle Show
                .form__group
                    button#signup-btn.btn.btn--green.signup Sign Up